@import "tailwindcss";

@plugin "daisyui" {
  themes: [
    {
      mytheme: {
        primary: "#6366f1",
        secondary: "#22d3ee",
        accent: "#f43f5e",
        neutral: "#111827",
        "base-100": "#ffffff",
      }
    }
  ];
}
